* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.background {
    width: 100%;
    height: 100vh;
}

.left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu {
    padding: 5px;
    position: absolute;
    width: 460px;
    height: 350px;
    left: 50px;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.wavecafe {
    margin-bottom: 15px;
    height: 100px;
    width: 430px;
    background-color: white;

    .coffeimg {
        position: absolute;
        width: 50px;
        left: 100px;
        top: 20px;

    }

    h1 {
        color: #009899FF;
        font-size: 30px;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
}

.drink {
    position: absolute;
    margin-top: 25%;
    height: 100px;
    width: 200px;
    background-color: #009899FF;
    margin-right: 15px;

    .drinkcofe {
        position: absolute;
        width: 25px;
        left: 10px;
        top: 35%;
    }

    h1 {
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.about {
    position: absolute;
    margin-top: 25%;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: white;

    .Threepepols {
        position: absolute;
        width: 25px;
        left: 10px;
        top: 35%;

    }

    h1 {
        color: #009899FF;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.special {
    position: absolute;
    margin-top: 50%;
    height: 100px;
    width: 200px;
    margin-right: 15px;
    background-color: white;

    .martini {
        position: absolute;
        width: 25px;
        left: 10px;
        top: 35%;
    }

    h1 {
        height: 100%;
        color: #009899FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contact {
    position: absolute;
    margin-top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    background-color: white;

    h1 {
        height: 100%;
        color: #009899FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contact img {
    position: absolute;
    width: 25px;
    left: 10px;
    top: 35%;
}

footer {
    left: 50px;
    top: 550px;
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.684);

    h1 {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
    }
}

.right {
    position: absolute;
    width: 600px;
    height: 500px;
    left: 50%;
    top: 10%;
    display: flex;
    justify-content: center;
}

.mini-div {
    padding: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, 0.807);
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
}

.mini-div a {
    color: white;
    text-decoration: none;
}

.aaaaaaa {
    border-bottom: 2px solid #009899FF;
}

.cofeoption {
    position: absolute;
    display: flex;
    width: 200px;
    height: 600px;

}

.coffeeoption {
    height: 700px;
}

.cofoptw-1 {
    position: absolute;
    width: 100px;
    right: 67%;
    margin-top: 10%;
}

.cofoptw-2 {
    position: absolute;
    width: 100px;
    right: 67%;
    margin-top: 23%;
}

.cofoptw-3 {
    position: absolute;
    width: 100px;
    right: 67%;
    margin-top: 36%;
}

.cofoptw-4 {
    position: absolute;
    width: 100px;
    right: 67%;
    margin-top: 49%;
}

.infocofee {
    margin-left: 18%;
    margin-top: 55px;
    width: 300px;
    height: 310px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.bacinfocoffe {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.623);

}

.bacinfocoffe h1 {
    color: white;
    font-size: 20px
}

.bacinfocoffe p {
    font-size: 15px;
    color: white;

}

.price {
    color: rgba(0, 252, 0, 0.818);
    display: flex;
    position: absolute;
    margin-left: 90%;
}

.sectiontwo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.etnankar {
    width: 100%;
    height: 100vh;
}

.menutwo {
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50px;
    width: 460px;
    height: 350px;
}

.wavecafetwo {
    height: 100px;
    width: 430px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .twocoffeimg {
        position: absolute;
        width: 50px;
        left: 100px;
        top: 20px;
    }

    h1 {
        color: #009899FF;
        font-size: 30px;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.drinktwo {
    height: 100px;
    width: 200px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .drinkcofetwo {
        position: absolute;
        width: 25px;
        left: 10px;
        top: 35%;
    }

    h1 {
        color: #009899FF;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.abouttwo {
    height: 100px;
    width: 200px;
    background-color: #009899FF;
    display: flex;
    justify-content: center;
    align-items: center;

    .Threepepolstwo {
        width: 50px;
        top: 50%;
        height: 50px;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        margin-top: 5%;
    }
}

.specialtwo {
    height: 100px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .martinitwo {
        display: flex;
        width: 25px;
        justify-content: center;
        align-items: center;
    }

    h1 {
        height: 100%;
        color: #009899FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacttwo {
    height: 100px;
    width: 200px;
    background-color: white;
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h1 {
        height: 100%;
        color: #009899FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacttwo img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.leftbootomtwo {
    left: 50px;
    top: 90%;
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.684);

    h1 {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
    }
}

.righttwo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    position: absolute;
    left: 50%;
    width: 600px;
    height: 800px;
}

.imfo_1 {
    gap: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.656);

}

.imfo_1 img {
    display: flex;
    margin-bottom: 5%;
    margin-right: 70%;
    width: 100px;
    height: 100px;
}

.imfo_1 h1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: #009899FF;
}

.imfo_1 p {
    font-size: 15px;
    margin-left: 20%;
    position: absolute;
    margin-top: 8%;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 300px;
    color: wheat;
}
.imfo_2 {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 250px;
    justify-content: center;
    width: 500px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.656);

}

.imfo_2 img {
    display: flex;
    margin-bottom: 5%;
    margin-right: 70%;
    width: 100px;
    height: 100px;
}

.imfo_2 h1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: #009899FF;
}

.imfo_2 p {
    font-size: 15px;
    margin-left: 20%;
    position: absolute;
    margin-top: 8%;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 300px;
    color: wheat;
}